numpy==1.26.4
opencv-python==4.9.0.80
pygame
requests==2.31.0
pynput==1.7.7
pyautogui==0.9.54
mss==6.1.0

torch==2.2.1
torchvision==0.17.1
pillow
pyyaml==6.0.1
tqdm==4.66.2
matplotlib==3.8.3
pandas==2.2.1
seaborn==0.13.2
scipy==1.12.0

setuptools==65.5.0
gitpython==3.1.42

pyobjc-core==10.3
pyobjc-framework-Quartz==10.3
pyobjc-framework-ApplicationServices==10.3
pyobjc-framework-Cocoa==10.3
